<a href="https://colab.research.google.com/github/manoharaurala/blog/blob/master/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

**Importing Datasets**

In [6]:
dataset=pd.read_csv('Data.csv')

In [7]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

# New Section